* {
	margin: 0; padding: 0;
	border: none;
	outline: none;
}
body {
	width:100%; height: auto;
	background-color: #FAFAFA;
	color: #5B5B5B;
    text-align:justify;
}
h1,h2,h3,h4,h5,h6 {
	margin: 10px auto;
	color: #2F2F2F;
}
.content {
	font-size: 16px;
	line-height: 1.5; height: auto; width: auto;
	overflow: hidden;
	padding: 5px 10px;
}
.content img {
	max-width: 100% !important;
	width: auto !important;
	height: auto;
	clear: both;
	display: block;
	margin: 10px auto;
}
